* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

ul {
   list-style: none;
}

a {
   display: inline-block;
   text-decoration: none;
}

img {
   display: inline-block;
}

span {
   display: inline-block;
}

button {
   cursor: pointer;
}

.container {
   width: 1150px;
   margin: 0 auto;
   padding: 0 20px;
}

.wrap {
   min-width: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: darkcyan;
   flex-wrap: wrap;
   padding: 200px auto;
   text-align: center;
}

.text {
   color: wheat;
   text-align: center;
   margin: 15px 0;
}

.input1 {
   cursor: text;
   width: 100px;
   margin: 0 auto;
   padding: 10px 20px;
   background-color: rgb(255, 205, 205);
   outline: green;
   border-radius: 10px;
   border: none;
   margin-bottom: 30px;
}

.input2 {
   cursor: text;
   margin: 0 auto;
   width: 100px;
   padding: 10px 20px;
   background-color: rgb(255, 205, 205);
   outline: green;
   border-radius: 10px;
   border: none;
   margin-bottom: 30px;
}

.btn {
   cursor: pointer;
   width: 200px;
   padding: 10px 20px;
   border: none;
   color: white;
   background-color: darkslategrey;
}

.btn:hover {
   opacity: 0.7;
}

.rezult {
   min-width: 200px;
   background-color: lavender;
   margin: 1rem auto;
}